/*********************************** Ici 1er exemple en CSS ************************************
body {
    background: #333;
    padding-top: 5em;
    display: flex;
    justify-content: center;
  }
  

  .typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid orange;         /* The typwriter cursor *
    white-space: nowrap;                      /* Keeps the content on a single line *
    margin: 0 auto;                           /* Gives that scrolling effect as the typing happens *
    letter-spacing: .15em;                    /* Adjust as needed *
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect *
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
***********************************************************************************************/


/************************************************************* Write the sentence in CSS & JS : 1st example , enjoy ! *****/
body {
    background-color:#ce3635;
    text-align: center;
    color:#fff;
    padding-top:10em;
  }
  
  * { 
    color:#fff;
    text-decoration: none;
}


/************************************************************* Write the sentence in CSS & JS : 2nd example , another way to enjoy ! *****/
h2 {
    font-size: 5em;
    color: white;
    text-transform: uppercase;
  }
  
  span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }












